header{
    display: block;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 50px;
}

.title{
    margin-top: 25px;
    margin-bottom: -5px;
}

.menu{
  font-family: 'Courier New', Courier, monospace;
}

.subheader{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  text-align: right;
  margin-bottom: -20px;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.left{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}

.right{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}

h2{
  margin-top: 50px;
}

a:link {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  a:active {
    text-decoration: underline;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: 900px) {
    .subheader{
      width: 90%;
      margin-bottom: -100px;
    }

    .right{
        width: 40%;
    }
  
    .left{
      width: 40%;
    }
  
  }